.big {
  justify-content: space-around;
}
.logo {
  width: 200px;
}
.one-card {
  width: 90%;
}
.size-cards {
  width: 300px;
  margin: 0px 15px;
}
.explore {
  padding-top: 120px;
}
.explore .btn {
  width: 25%;
}
.mr-dafoe-regular {
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  font-style: normal;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}
.head1 {
  font-size: 50px;
}
.head2 {
  font-size: 30px;
}
#errorpage {
  display: flex;
}
.navbar-brand span {
  font-size: 40px;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 70px;
    margin: 7px;
  }
  .one-card {
    width: 100%;
  }
  .size-cards {
    width: 48%;
    margin: 0;
  }
  .add-size .inside {
    display: flex;
    justify-content: space-between;
  }
  .see {
    display: none;
  }
  .explore {
    padding-top: 10px;
  }
  .explore .btn {
    width: 150px;
  }
  .head1 {
    font-size: 30px;
  }
  .head2 {
    font-size: 19px;
  }
  #errorpage {
    display: block;
  }
  #topping {
    margin-top: 30px;
  }
  .navbar-brand span {
    font-size: 21px;
  }
}
